/* Syzygy Developer Test
 * Created: 12th October 2014
 * Last Modified: 12th October 2014
 * Author: Martin Lewis mlewisdesigner@gmail.com */

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

/* Generic elements */
html {
	height: 100%;
}

body {
	height: 100%;
	background-color: #FFF;
}

h1,h2,h3,h4,h5,p,a, .ident {
	font-family: 'Lato', sans-serif;
}

h1 {
	font-size: 24pt;
	margin: 20px 0px 10px 10px;
}

/* Custom elements */
/* Wraps and positioning */
#pageWrap {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

.col {
	width: 30%;
	max-width: 300px;
	float: left;
}

#dropdownWrap {
	width: 100%;
	height: 40px;
	margin: 0px 0px 0px 0px;
	padding: 20px 0px 0px 0px;
	border-top: 1px solid #CACACA;
	border-bottom: 1px solid #CACACA;
}

.itemResult {
	width: 80%;
	margin: 20px 0px 0px 20px;
}

.itemResult.visible {
	border-top: 16px solid #333;
}

/* Text and styling */
#resultTitle {
	display: none;
	border-bottom: 1px solid #CCC;
	padding: 0px 0px 20px 0px;
}

/* Form elements and labels */
.itemSelect {
	width: 60%;
	margin: 0px 0px 0px 20px;
}

.ident {
	font-weight: 700;
	font-size: 10pt;
	margin: 0px 0px 0px 20px;
}

.spec {
	display: block;
	min-height: 30px;
	line-height: 30px;
	padding: 0px 0px 0px 10px;
}

.spec:nth-child(2n+1) {
	background-color: #CACACA;
}

/* Media queries for smaller screens */
@media screen and (max-width : 320px) {
  	
  	.spec {
  		font-size: 9pt;
  		line-height: 15pt;
  	}

  	.ident {
  		display: none;
  	}

  	.itemSelect {
  		display: none;
  	}

}